body {
	width: 960px;
	margin: 0 auto;
}
.brand-link {
	color: #333;
	text-decoration: none;
}
.header-link {
	display: block;
	float: left;
	width: 100px;
}
#sub-header-links {
	clear: both;
}
.sub-header-link {
	display: block;
	float: left;
	width: 100px;
	margin-top: 10px;
}
.footer-divider {
	position: absolute;
	bottom: 10px;
}